<library path="velocity_pid_controller">
  <class
    name="omni_pid_controller/PidController"
    type="omni_pid_controller::PidController"
    base_class_type="controller_interface::ControllerInterface">
    <description>
      Custom velocity PID controller
    </description>
  </class>
</library>
