<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="realsense">
        <sensor name="realsense_d455" type="rgbd">
            <always_on>1</always_on>
            <update_rate>30</update_rate>
            <visualize>true</visualize>
            <topic>camera</topic>
            <gz_frame_id>realsense_optical_frame</gz_frame_id>
            <camera>
                <horizontal_fov>1.518</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.1</near>
                    <far>10.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <link name="realsense_optical_frame"/>
    <joint name="realsense_optical_joint" type="fixed">
        <parent link="realsense"/>
        <child link="realsense_optical_frame"/>
        <origin xyz="0 0 0" rpy="-1.57079 0 -1.57079"/>
    </joint>


    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
        <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

</robot>