<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ros2_control configuration -->
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    
    <!-- Joint 1 -->
    <joint name="mobile_base_Revolute_1">
      <command_interface name="effort">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <state_interface name="position"/> 
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    
    <!-- Joint 2 -->
    <joint name="mobile_base_Revolute_2">
      <command_interface name="effort">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <state_interface name="position"/> 
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    
    <!-- Joint 3 -->
    <joint name="mobile_base_Revolute_3">
      <command_interface name="effort">
        <param name="min">-5</param>
        <param name="max">5</param>
      </command_interface>
      <state_interface name="position"/> 
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find mobile_robot)/config/my_controller.yaml</parameters>
      <ros>
          <parameter name="use_sim_time" value="true" type="bool"/>
      </ros>
      <publish_odom_tf>false</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>
    </plugin>
  </gazebo>

</robot>