<?xml version="1.0"?>
<model>
  <name>aruco_box</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Nathaphong</name>
    <email>nathaphong.meng@gmail.com</email>
  </author>

  <description>
    A 20cm box with ArUco markers for warehouse sorting tasks.
  </description>
</model>